;; ┌────────────────────────────────────────────────────────────┐
;; │░█▀█░█▀█░█░░░█░█░█▀▄░█▀█░█▀▄░░░░░░░░░█▀▀░█▀█░█▀█░█▀▀░▀█▀░█▀▀│
;; │░█▀▀░█░█░█░░░░█░░█▀▄░█▀█░█▀▄░░░░▀░░░░█░░░█░█░█░█░█▀▀░░█░░█░█│
;; │░▀░░░▀▀▀░▀▀▀░░▀░░▀▀░░▀░▀░▀░▀░░░░▀░░░░▀▀▀░▀▀▀░▀░▀░▀░░░▀▀▀░▀▀▀│
;; └────────────────────────────────────────────────────────────┘


[global/wm]
margin-top = 0
margin-bottom = 0


;; File Inclusion
include-file = $HOME/.config/leftwm/themes/current/polybar.colors
include-file = $HOME/.config/leftwm/themes/current/polybar.modules


[settings]
screenchange-reload = true
throttle-output = 5
throttle-output-for = 10
compositing-background = source
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over
pseudo-transparency = true

[bar/mainbar0]
inherit = bar/barbase
modules-left = workspace0
tray-position = none
tray-detached = true
tray-maxsize = 20
tray-offset-x = -45
tray-offset-y = 0
tray-padding = 5
tray-scale = 1


[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t "$SCRIPTPATH/polybar.liquid"
tail = true


[bar/mainbar1]
inherit = bar/barbase
modules-left = workspace1


[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t "$SCRIPTPATH/polybar.liquid"
tail = true


[bar/barbase]
width = ${env:width}
monitor = ${env:monitor}
offset-x = 15
offset-y = 4
height = 24
fixed-center = true
bottom = false
background = ${color.background}
foreground = ${color.foreground}
radius-top = 8
radius-bottom = 8
padding-left = 1
padding-right = 2
module-margin-left = 0
module-margin-right = 0
font-0 = "Iosevka Nerd Font:size=8;2"
font-1 = "Roboto:size=11:weight=bold;2"
font-2 = "Noto Sans:size=11;1"
font-3 = "FontAwesome:size=10"
font-4 = "Feather:size=9;2"
modules-right = arch-updates spacer pulseaudio-control spacer bluetooth wlan  spacer date
border-bottom = 0
cursor-click = pointer
cursor-scroll = ns-resize